<script>
var counter = parseInt('<%= params["question_length"] %>');
if(isNaN(counter)){
  counter = 0;
}
  var click = true;
  function create_mutiplechoice() {
    counter++;
    var mutiple_choice = document.createElement("div");
    mutiple_choice.id = `mutiplechoice${counter}`;
    mutiple_choice.setAttribute("onmouseover",`document.getElementById("trashbin${counter}").style.display = 'block'`);
    mutiple_choice.setAttribute("onmouseout",`document.getElementById("trashbin${counter}").style.display = 'none'`);
    mutiple_choice.innerHTML = `
    <div class="row">
    <div class="col-md-1 col-md-offset-11">
      <div id="trashbin${counter}" onmouseover="document.getElementById('trashbin${counter}').style.color = 'orange'" onmouseout="document.getElementById('trashbin${counter}').style.color = 'black'" style="display: none" onclick="destroy(this)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <label>Question</label>
      <input name="question${counter}" type="text" class="form-control" placeholder="Question">
    </div>
    </div>
    <div class="row" style="padding-bottom: 15px">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-btn">
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button">&nbsp&nbsp</button>
        </span>
        <input name="answera${counter}" type="text" class="form-control" placeholder="A.">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <input name="answerb${counter}" type="text" class="form-control" placeholder="B.">
        <span class="input-group-btn">
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button">&nbsp&nbsp</button>
        </span>
      </div>
    </div>
  </div>
      <div class="row" style="padding-bottom: 15px">
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-btn">
      <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button">&nbsp&nbsp</button>
      </span>
      <input name="answerc${counter}" type="text" class="form-control" placeholder="C.">
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <input name="answerd${counter}" type="text" class="form-control" placeholder="D.">
      <span class="input-group-btn">
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button">&nbsp&nbsp</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
    `
    var row = document.getElementById("questionsrow");
    row.appendChild(mutiple_choice);
  }
  function create_frq(){
    counter++;
    var frq = document.createElement("div");
    frq.id = `frq${counter}`
    frq.setAttribute("onmouseover",`document.getElementById("trashbin${counter}").style.display = 'block'`);
    frq.setAttribute("onmouseout",`document.getElementById("trashbin${counter}").style.display = 'none'`);
    frq.innerHTML = 
    `
    <div class="row">
  <div class="col-md-1 col-md-offset-11">
    <div id="trashbin${counter}" onmouseover="document.getElementById('trashbin${counter}').style.color = 'orange'" onmouseout="document.getElementById('trashbin${counter}').style.color = 'black'" style="display: none" onclick="destroy(this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
    </div>
  </div>
</div>

    <div class="row">
      <div class="col-md-6">
        <label>Question</label>
        <input name="frqquestion${counter}" type="text" class="form-control" placeholder="Question">
      </div>
      <div class="col-md-6">
        <label>Answer</label>
        <input name="frqanswer${counter}" type="text" class="form-control" placeholder="Answer">
      </div>
    </div>
`;
    var row = document.getElementById("questionsrow");
    row.appendChild(frq);
    // frq_counter++;
  }
  function destroy(node){
    var parent = node;

    while(!(parent.id.includes("mutiplechoice") || parent.id.includes("frq"))){
      parent = parent.parentNode;
    }
    parent.remove();
  }
  function submit_url(){
    return window.location.href + "/submit"
  }
  function highlight(node){
    var parent = node;
    if(node.getAttribute("class").includes("info")){
      node.setAttribute("class", "btn btn-default")
      while(!parent.getAttribute("class").includes("col-md")){
        parent = parent.parentNode
      }
      child = parent
      for(var i = 0 ; i  < child.childNodes.length; i++){
        
        if(child.childNodes[i].tagName != undefined){
          var new_child = child.childNodes[i];
          for(var i = 0; i < new_child.childNodes.length; i++){
            if(new_child.childNodes[i].tagName == 'INPUT'){
              console.log(new_child.childNodes[i].getAttribute("name"))
              if(!new_child.childNodes[i].getAttribute("name").includes(",")){
                new_child.childNodes[i].setAttribute("name", new_child.childNodes[i].getAttribute("name") + ", 1")
              }else{
                new_child.childNodes[i].setAttribute("name", new_child.childNodes[i].getAttribute("name").replace(", 0", ", 1"))
              }
            }
          }

        }
      }
    }else if(node.getAttribute("class").includes("default")){
      node.setAttribute("class", "btn btn-info")
      while(!parent.getAttribute("class").includes("col-md")){
        parent = parent.parentNode
      }
      child = parent
      for(var i = 0 ; i  < child.childNodes.length; i++){
        
        if(child.childNodes[i].tagName != undefined){
          var new_child = child.childNodes[i];
          for(var i = 0; i < new_child.childNodes.length; i++){
            if(new_child.childNodes[i].tagName == 'INPUT'){
              console.log(new_child.childNodes[i].getAttribute("name"))
              if(!new_child.childNodes[i].getAttribute("name").includes(",")){
                new_child.childNodes[i].setAttribute("name", new_child.childNodes[i].getAttribute("name") + ", 0")
              }else{
                new_child.childNodes[i].setAttribute("name", new_child.childNodes[i].getAttribute("name").replace(", 1", ", 0"))
              }
            }
          }

        }
      }
    }
  }
</script>
<div class="center jumbotron" style="height: 600px;">

<h1>Edit Trivia Game</h1>
<form action="/submit" method="POST">
<div class="container">
  <div class="row">
      <div class="col-md-1 col-md-offset-11">
      <div class="dropdown">
      <button class="dropbtn">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
      </svg>
    </button>
      <div class="dropdown-content">
        <a href="javascript:void(0);" onclick="create_mutiplechoice()">Add Mutiple Choice</a>
        <a href="javascript:void(0);" onclick="create_frq()">Add FRQ</a>
      </div>
      </div>
      </div>
  </div>
</div>
<div class="myBox">
<div class="container" id="questionsrow">
<% if params["everything"] != nil %>
<div class="row">
<div class="col-md-12">
<label>Title</label>
<input name="title" type="text" class="form-control" value="<%= params["title"]%>">
</div>
</div>
<% for index in 0..(JSON.parse(params["everything"]).length-1) %>
<% if JSON.parse(params["everything"])[index][0].include?("question") and !JSON.parse(params["everything"])[index][0].include?("frq") %>
<div id="mutiplechoice<%= JSON.parse(params["everything"])[index][0][-1]%> " onmouseover="document.getElementById('trashbin<%=index%>').style.display = 'block'" onmouseout="document.getElementById('trashbin<%=index%>').style.display = 'none'">
<div class="row">
  <div class="col-md-1 col-md-offset-11">
    <div id="trashbin<%=index%>" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'black'" style="display: none" onclick="destroy(this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <label>Question</label>
      <input name="question<%= JSON.parse(params["everything"])[index][0][-1]%>" type="text" class="form-control" value="<%=JSON.parse(params["everything"])[index][1]%>">
    </div>
    </div>
    <div class="row" style="padding-bottom: 15px">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-btn">
        <% if JSON.parse(params["everything"])[index+1][2] %>
        <button class="btn btn-info" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(params["everything"])[index+1][2]%>>&nbsp&nbsp</button>
      <% else %>
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(params["everything"])[index+1][2]%>>&nbsp&nbsp</button>
      <% end %> 
      </span>  
        <input name="<%= JSON.parse(params["everything"])[index+1][0]%>" type="text" class="form-control" value="<%= JSON.parse(params["everything"])[index+1][1]%>">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <input name="<%= JSON.parse(params["everything"])[index+2][0]%>" type="text" class="form-control" value="<%= JSON.parse(params["everything"])[index+2][1]%>">
        <span class="input-group-btn">
        <% if JSON.parse(params["everything"])[index+2][2] %>
        <button class="btn btn-info" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(params["everything"])[index+2][2]%>>&nbsp&nbsp</button>
      <% else %>
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(params["everything"])[index+2][2]%>>&nbsp&nbsp</button>
      <% end %> 
      </span>  
      </div>
    </div>
  </div>
      <div class="row" style="padding-bottom: 15px">
  <div class="col-md-6">
    <div class="input-group">
     <span class="input-group-btn">
        <% if JSON.parse(params["everything"])[index+3][2] %>
        <button class="btn btn-info" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(params["everything"])[index+3][2]%>>&nbsp&nbsp</button>
      <% else %>
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(params["everything"])[index+3][2]%>>&nbsp&nbsp</button>
      <% end %> 
      </span>
      <input name="<%= JSON.parse(params["everything"])[index+3][0]%>" type="text" class="form-control" value="<%= JSON.parse(params["everything"])[index+3][1]%>">  
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <input name="<%= JSON.parse(params["everything"])[index+4][0]%>" type="text" class="form-control" value="<%= JSON.parse(params["everything"])[index+4][1]%>">
        <span class="input-group-btn">
        <% if JSON.parse(params["everything"])[index+4][2] %>
        <button class="btn btn-info" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(params["everything"])[index+4][2]%>>&nbsp&nbsp</button>
      <% else %>
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(params["everything"])[index+4][2]%>>&nbsp&nbsp</button>
      <% end %> 
      </span>  
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% index = index +4 %>
</div>
<% elsif JSON.parse(params["everything"])[index][0].include?("frqquestion") %>
<div class="empty">
<div id="frq<%= JSON.parse(params["everything"])[index][0][-1]%>" onmouseover="document.getElementById('trashbin<%=index%>').style.display = 'block'" onmouseout="document.getElementById('trashbin<%= index%>').style.display = 'none'">
<div class="row">
  <div class="col-md-1 col-md-offset-11">
    <div id="trashbin<%= index %>" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'black'" style="display: none" onclick="destroy(this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
    </div>
  </div>
</div>
      <div class="row">
      <div class="col-md-6">
        <label>Question</label>
        <input name=<%=JSON.parse(params["everything"])[index][0]%> type="text" class="form-control" placeholder="Question" value=<%= JSON.parse(params["everything"])[index][1] %>>
      </div>
      <div class="col-md-6">
        <label>Answer</label>
        <input name=<%=JSON.parse(params["everything"])[index+1][0]%> type="text" class="form-control" placeholder="Answer" value=<%=JSON.parse(params["everything"])[index+1][1]%>>
      </div>
    </div>
    </div>
    </div>
<% index = index +1 %>
</div>
<% end %>
<% end %>
</div>
</div>
<% else %>
<div class="row">
<div class="col-md-12">
<label>Title</label>
<input name="title" type="text" class="form-control" value="<%=@trivia_game.title%>">
</div>
</div>
<% for index in 0..(JSON.parse(@trivia_game.data).length-1) %>
<% if JSON.parse(@trivia_game.data)[index][0].include?("question") and !JSON.parse(@trivia_game.data)[index][0].include?("frq") %>
<div id="mutiplechoice<%= JSON.parse(@trivia_game.data)[index][0][-1]%> " onmouseover="document.getElementById('trashbin<%=index%>').style.display = 'block'" onmouseout="document.getElementById('trashbin<%=index%>').style.display = 'none'">
<div class="row">
  <div class="col-md-1 col-md-offset-11">
    <div id="trashbin<%=index%>" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'black'" style="display: none" onclick="destroy(this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <label>Question</label>
      <input name="question<%= JSON.parse(@trivia_game.data)[index][0][-1]%>" type="text" class="form-control" value="<%=JSON.parse(@trivia_game.data)[index][1]%>">
    </div>
    </div>
    <div class="row" style="padding-bottom: 15px">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-btn">
        <% if JSON.parse(@trivia_game.data)[index+1][2] %>
        <button class="btn btn-info" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(@trivia_game.data)[index+1][2]%>>&nbsp&nbsp</button>
      <% else %>
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(@trivia_game.data)[index+1][2]%>>&nbsp&nbsp</button>
      <% end %> 
      </span>  
        <input name="<%= JSON.parse(@trivia_game.data)[index+1][0]%>" type="text" class="form-control" value="<%= JSON.parse(@trivia_game.data)[index+1][1]%>">
      </div>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <input name="<%= JSON.parse(@trivia_game.data)[index+2][0]%>" type="text" class="form-control" value="<%= JSON.parse(@trivia_game.data)[index+2][1]%>">
        <span class="input-group-btn">
        <% if JSON.parse(@trivia_game.data)[index+2][2] %>
        <button class="btn btn-info" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(@trivia_game.data)[index+2][2]%>>&nbsp&nbsp</button>
      <% else %>
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(@trivia_game.data)[index+2][2]%>>&nbsp&nbsp</button>
      <% end %> 
      </span>  
      </div>
    </div>
  </div>
      <div class="row" style="padding-bottom: 15px">
  <div class="col-md-6">
    <div class="input-group">
     <span class="input-group-btn">
        <% if JSON.parse(@trivia_game.data)[index+3][2] %>
        <button class="btn btn-info" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(@trivia_game.data)[index+3][2]%>>&nbsp&nbsp</button>
      <% else %>
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(@trivia_game.data)[index+3][2]%>>&nbsp&nbsp</button>
      <% end %> 
      </span>
      <input name="<%= JSON.parse(@trivia_game.data)[index+3][0]%>" type="text" class="form-control" value="<%= JSON.parse(@trivia_game.data)[index+3][1]%>">  
    </div>
  </div>
  <div class="col-md-6">
    <div class="input-group">
      <input name="<%= JSON.parse(@trivia_game.data)[index+4][0]%>" type="text" class="form-control" value="<%= JSON.parse(@trivia_game.data)[index+4][1]%>">
        <span class="input-group-btn">
        <% if JSON.parse(@trivia_game.data)[index+4][2] %>
        <button class="btn btn-info" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(@trivia_game.data)[index+4][2]%>>&nbsp&nbsp</button>
      <% else %>
        <button class="btn btn-default" onmouseover="highlight(this)" onmouseout="highlight(this)" onclick="highlight(this)" type="button" value=<%= JSON.parse(@trivia_game.data)[index+4][2]%>>&nbsp&nbsp</button>
      <% end %> 
      </span>  
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<% index = index +4 %>
<% elsif JSON.parse(@trivia_game.data)[index][0].include?("frqquestion") %>
<div class="empty">
<div id="frq<%= JSON.parse(@trivia_game.data)[index][0][-1]%>" onmouseover="document.getElementById('trashbin<%=index%>').style.display = 'block'" onmouseout="document.getElementById('trashbin<%= index%>').style.display = 'none'">
<div class="row">
  <div class="col-md-1 col-md-offset-11">
    <div id="trashbin<%= index %>" onmouseover="this.style.color = 'orange'" onmouseout="this.style.color = 'black'" style="display: none" onclick="destroy(this)">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
    </svg>
    </div>
  </div>
</div>
      <div class="row">
      <div class="col-md-6">
        <label>Question</label>
        <input name=<%=JSON.parse(@trivia_game.data)[index][0]%> type="text" class="form-control" placeholder="Question" value=<%= JSON.parse(@trivia_game.data)[index][1] %>>
      </div>
      <div class="col-md-6">
        <label>Answer</label>
        <input name=<%=JSON.parse(@trivia_game.data)[index+1][0]%> type="text" class="form-control" placeholder="Answer" value=<%=JSON.parse(@trivia_game.data)[index+1][1]%>>
      </div>
    </div>
    </div>
    </div>
<% index = index +1 %>
<% end %>
<% end %>
</div>
</div>
</div>
<% end %>
<div class="container" style="padding-top: 15px">
<input type="hidden" name="user_id" value="<%= params[:user_id] %>">
<input type="hidden" name="id" value="<%= params["id"] %>">
<input type="hidden" name="authenticity_token" value="token_value">
<div class="row">
    <div class="col-md-1 col-md-offset-11">
    <button class="btn btn-info" type="submit">Edit</button>
    </div>
  </div>
</div>
</form>
</div>