


<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #11324D; height: 110px; outline-style: solid; outline-color: #11324D; border-color: #11324D;">
    <div class="container" style="background-color: #11324D; padding-top: 10px; padding-bottom: 10px; outline-style: solid; border-color: transparent; color: #11324D;">
        <%= link_to image_tag("logo.png", alt: "Neato Trivia", width: "200"), root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right navbar-custom" style="outline-style: solid; outline-color: #11324D; border-color: transparent; color: #11324D;">
                    <li style= "color: #9D9D9D; padding-top: 20px; padding-bottom: 20px;"><%= link_to "Home", root_path %></li>
                    <li style= "color: #9D9D9D; padding-top: 20px; padding-bottom: 20px;"><%= link_to "Help", help_path %></li>
                    <% if logged_in? %>
                      <li style= "color: #9D9D9D; padding-top: 20px; padding-bottom: 20px;"><%= link_to "Profile", current_user %></li>
                      <li style= "color: #9D9D9D; padding-top: 20px; padding-bottom: 20px;"><%= link_to "Settings", edit_user_path(current_user) %></li>
                      <li style= "color: #9D9D9D; padding-top: 20px; padding-bottom: 20px;"><%= link_to "Log Out", logout_path, method:"delete" %></li>

                    <% else %>
                    <li style= "color: #9D9D9D; padding-top: 20px; padding-bottom: 20px;"><%= link_to "Log In", login_path %></li>
                    <% end %>
                
            </ul>
        </nav>
    </div>
</header>   























<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("AccountDrop").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>