<!DOCTYPE html>
<html>
<head>


<title><%= full_title(yield(:title)) %></title>

<%= render 'layouts/rails_default' %>
<%= render 'layouts/shim' %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>



<%= favicon_link_tag asset_path('favicon.ico') %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

</head>
<%= render 'layouts/header' %>


<body>

<div class="loader-wrapper">
  <div class="clipped"></div>
    </div>

<div class="container grad1">
   <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
<%= yield %>

<script type="text/javascript">
          $(".loader-wrapper").fadeOut(2500);
        
  </script>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</div>
</body>

</html>